* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #ccc;
    font-family: 'Open Sans', sans-serif;
}

#main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 40px 0px;
    background: #fff;
    width: 340px;
    box-shadow: 2px 2px 2px 2px rgba(184, 178, 178, 0.2);
    padding: 0 20px;
    border-radius: 10px;
}


/* form group */

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    position: relative;
}

.form-control {
    position: relative;
    padding: 8px 5px 8px 40px;
    font-size: 15px;
    outline: none;
    border-radius: 4px;
    border: 2px #aaa solid;
}

.form-control:hover {
    /* border: 2px rgb(50, 132, 146) solid; */
    box-shadow: rgba(26, 94, 121, 0.12) 0px 2px 4px 0px, rgba(26, 94, 121, 0.4) 0px 2px 16px 0px;
}

.form-message {
    font-size: 13px;
    color: red;
    font-weight: 100;
    line-height: 20px;
    opacity: 0;
}

.form-lable {
    font-size: 16px;
    padding: 4px 0;
    font-weight: lighter;
}

.space {
    height: 30px;
}

.heading {
    font-size: 24px;
    color: rgb(50, 132, 146);
    margin-right: 10px;
    /* margin-left: 100px; */
    font-weight: 700;
    text-align: center;
}

.description {
    /* margin-left: 97px; */
    text-align: center;
    padding: 5px 0;
}

#button-submit {
    font-size: 15px;
    background: rgb(99, 154, 163);
    width: 130px;
    padding: 6px 10px;
    color: #fff;
    outline: none;
    border-radius: 20px;
    margin-left: 85px;
    outline: none;
    border: 0px;
    margin-top: 30px;
}

#button-submit:hover {
    opacity: 0.7;
}


/* icon */

.fas {
    position: absolute;
    z-index: 1;
    margin-top: 40px;
    margin-left: 14px;
}

.wrong {
    border: 1px red solid;
    box-shadow: 2px 2px 2px 2px rgba(253, 3, 3, 0.2);
}